<html>
  <head>
   <title>Off ListenBrainz Nifty Features</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  </head>
  <body style="margin: 2em">
 
    <h2>Visualise Similar Users</h2>

    <p>Enter a ListenBrainz user name and select a time range to visualise their similar users:</p>
    <form action="/similar-users" method="get">
      <input type="text" name="user_name">
      <input type="text" name="time_range">
      <input type="submit">
    </form>

  </body>
</html>
